<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete</title>
    </head>
    <body>
Czy na pewno chcesz usunąć {{ plant.id }} {{ plant.variety }} {{ plant.species }} ?
        {{ form(form) }}
    </body>
</html>